h1{font-family: 'Courier New', Courier, monospace; font-weight: 900; font-size: 24pt;}
h2{font-family: 'Courier New', Courier, monospace; font-weight: lighter; font-size: 12pt;}
h3{font-family: 'Courier New', Courier, monospace; font-weight: bolder; font-size:  12pt;}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: lighter;
    font-size: 10pt; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;}

#buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
button{
    padding: 20px;
    margin: 10px;
    background-color: yellow;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 12pt;
}

.hide{display: none;}
.overflow{height: 200px; overflow: scroll;}

.container{width: 40vw; border: grey solid 2px; border-radius: 8px;}

tr{border: yellow solid 2px;}

#lists{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}